/* Custom CSS */

.license { 
			font-size: 11px; 
			text-align: center;
		 }
		 
.license img { 
			margin: 10px;
		 }

#cv {
  -webkit-border-radius: 14px;
  border-radius: 14px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 30px auto 30px auto !important;
  display: block;
}

/* CSS from Bootstrap website: */

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + a 30px margin */
  margin-bottom: 150px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #eee;
  padding: 20px;
}